<%= if @current_user do %>
  <ul class="navigation-list float-right">
    <li class="navigation-item"><%= @current_user.name %></li>
    <li class="navigation-item"><%= link "Välju", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
  </ul>
<% end %>
